<style>
body {background-color: powderblue;}
h1   {color: blue;}
h1   {text-align: center;}
h1   {font-size: 300%;}

h2   {background-color:Tomato;}
h2  {text-align: center;}
h2  {font-size: 250%;}

p {text-align: Left;}
p  {text-align: center;}
p  {font-size: 150%;}


h3   {color: orange;}
h3   {text-align: center;}
h3  {font-size: 160%;}

h4   {color: purple;}
h4   {text-align: center;}
h4  {font-size: 150%;}

h5   {text-align: center;}
h5  {font-size: 100%;}

</style>
<h1>WELCOME TO RUBY ON RAIL WEBSITE</h1>
<h2>LOGIN PAGE</h2>
 <br />
<p>&emsp; &emsp;&emsp; &emsp; &emsp; Member  : Click Log IN  &emsp; &emsp; &emsp; &emsp; &emsp;  &emsp; Newcomer: Click Sign UP</p>
 <br />
  <br />
<h4><% if current_user %>
 Logged in as <%= current_user.email %></h4>

<% else %>
 <%= link_to 'Sign Up', signup_path %> or
 <%= link_to 'Log In', login_path %>
<% end %>
<p id='notice'><%= notice %></p>

<h5> <%= link_to 'Log Out', logout_path %><h5>
 <br />  <br /><br /><br />
<h3>JUMPA LAGI</h3>
<p>SEKIAN TERIMA KASIH …</p>
